.main{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;

   
}
*{
    color: blueviolet;
}
.board{
    width: 500px;
    height:500px;
    background-color: white;
    border: 3px solid black;
    display: flex;
	flex-wrap: wrap;
	justify-content:flex-start;
	align-items: center;
}
.box{
    width: 20px;
    height:20px;
}